<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="icon" type="image/png" href="/favicon.png"/>

  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" charset="utf-8">
  <script type="text/javascript" id="" src="/authorize.js"></script>
</head>
<body>

<h1>OAuth server</h1>

<h2>Authorize</h2>

<div class="content">
  <div>

    <p>You are: {{user.login}}</p>

    <div class="center box">

      <div class="box-head">
        <h3>Authorize app <b>{{app_name}}</b> ?</h3>
      </div>

      <div class="box-body">

        <span><strong>{{app_name}}</strong> wants to access to the following scopes:</span>
        <p>
          <ul>
            {{#scope}}
              <li>{{.}}</li>
            {{/scope}}
          </ul>
        </p>

        <br>

        <div class="center">
          <form method="post" target="">
            <button class="button button-success" type="submit" name="user_allows" value="true">Yes</button>
            <button class="button button-danger" type="submit" name="user_allows" value="false">No</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>
