<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="icon" type="image/png" href="/favicon.png"/>

  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>

<h1>OAuth server</h1>

<h2>Main <a class="button float-right" href="/clients">clients</a></h2>

<div class="content">
  <div>
    <!-- if logged -->
    {{#user.login}}
      <p>You are: {{user.login}}</p>

      <table>
        <caption><b>Authorized clients</b></caption>
        <thead>
        <tr>
          <th>Name</th>
          <th>Scope</th>
          <th></th>
        </tr>
        </thead>
        {{#clients}}
          <tr>
            <td>{{name}}</td>
            <td>
              {{#scope}}
                <span class="tag">{{.}}</span>
              {{/scope}}
            </td>
            <td>
              <a class="button-small button-danger" href="/revoke/{{id}}">revoke</a>
            </td>
          </tr>
        {{/clients}}
      </table>
      <a class="button button-outline" href="/logout">logout from auth server</a>
    {{/user.login}}
    <!-- else -->
    {{^user.login}}
      <a class="button button-outline" href="/login">login</a>
    {{/user.login}}

    <a class="button button-outline" href="//localhost:8080">go to client app</a>

  </div>
</div>

</body>
</html>
