<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="icon" type="image/png" href="/favicon.png"/>

  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" charset="utf-8">
  <script type="text/javascript" id="" src="/index.js"></script>
</head>
<body>

<h1>OAuth client app</h1>

<h2>Main</h2>

<p id="error"></p>

<div class="content">
  <div>

    <!-- if logged -->
    {{#user}}
      <p>You are: {{user.name}}</p>

      <pre><code>{{user_pre}}</code></pre>

      <a class="button button-outline" href="/logout">logout from client app</a>
    {{/user}}
    <!-- else -->
    {{^user}}
      <a class="button button-outline" href="/auth/test?scope=user">login (user)</a>
      <a class="button button-outline" href="/auth/test?scope=user notifications">login (user + notifications)</a>
    {{/user}}

    <a class="button button-outline" href="//localhost:8090">go to authorization server</a>

  </div>
</div>

</body>
</html>
