<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script type="text/javascript" id="" src="/index.js"></script>
</head>
<body>
<div>

  <h1>OAuth client app</h1>

  <h2>Main</h2>

  <!-- if logged -->
  {{#user}}
    <p>You are: {{user.name}}</p>

    <a href="/logout">logout from client app</a>
  {{/user}}
  <!-- else -->
  {{^user}}
    <a href="/auth/test">login</a>
  {{/user}}

  <a href="//localhost:8090">go to authorization server</a>

</div>

</body>
</html>
